body {
    font: 100% Courier New;
    margin: 10px;
    line-height: 26px;
    background-color: #8f69e7;
}

.container {
    xmin-width: 100px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top {
    color: #a9d827;
    padding: 15px;
}

#main {
    padding: 7px;
    color: #84c754;
}

#sidebar {
    color: #eb58eb;
    border: 1px dashed #adc275;
    border-radius: 4px;
    padding: 7px;
    width: 320px;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 80%;
    line-height: 20px;
}

#bottom {
    border: 1px dashed #ffffff;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1,#top p {
    margin: 0;
}

.menuitem {
    color: #e7e423;
    cursor: pointer;
}

.menuitem:nth-child(4) {
    color:rgb(226, 25, 25);
    font-weight:bold;
}

.menuitem:hover {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #cadb2a;
}
@media (max-width: 600px) {
    #sidebar {
       width: auto;
       margin-bottom:10px;        
       position: relative;
    }    
}

